nav {
	text-decoration: : none;
	margin-left: 50px;
	

}
ul {
	list-style: none;
}







.image {
	margin right: 45px;
	width: 1170px;
	margin-top: 40px;



}
.logo {
	font-size: 22px;
	color: #EE4036;
	text-decoration: none;


}
li {
	display: inline-block;
	width: 200px;
	font-size:22px;
	color: #3D58A6
}
