nav {

	margin-left: 50px;
	

}
ul {
	list-style: none;
	margin-top: -28px;
	margin-left: 70px
}
.red{
	color: red;
}
.color{
	color: red;
}
.color2{
	color: red
}
a{
	text-decoration: none;
}







.image {
	margin right: 45px;
	width: 1170px;
	margin-top: 20px;




}
.logo {
	font-size: 22px;
	color: #EE4036;
	text-decoration: none;



}
li {
	display: inline-block;
	width: 200px;
	font-size:22px;
	color: #3D58A6;

}
page2

h5{
	font-size:25px;
	color: blue;

}
span {
	background-color: blue;
	color:white;
	font-size: 27px;
	padding:4px

}
.size{
	width:300px 

}

.px{
	width:300px 

}
.box {
	display: inline-block;
	width:700px
	
}
p{
padding-left:30px
}

page3





